/* /Layout/MainLayout.razor.rz.scp.css */
/*
    Muted Red: #D93A36
    Soft Gray: #E6E6E6
    Charcoal: #333333
    Soft Blue: #F7F7F7
    Accent Gold: #DAA520

    Background: #F7F7F7
    Headers: Muted Red (#D93A36)
    Text: Charcoal (#333333)
    Subtext or Muted Areas: Soft Gray (#E6E6E6)
    Highlights or Buttons: Accent Gold (#DAA520)
*/

body[b-qij23b86of] {
    background-color: #F7F7F7;
}
/* /Layout/NavMenu.razor.rz.scp.css */
*[b-48us5ij6bc]{
  margin: 0;
  padding: 0;
}

.clear[b-48us5ij6bc]{
  clear: both;
}


.slide-toggle[b-48us5ij6bc]{
  display: none;
}

.slidemenu[b-48us5ij6bc]{
  font-family: arial, sans-serif;
  max-width: 100%;
  height: 7rem;
  padding-top: 2rem;
  overflow: hidden;
  background-color: #D93A36;
}

.slidemenu label[b-48us5ij6bc]{
  width: 20%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover[b-48us5ij6bc]{
  cursor: pointer;
  color: #666;
}

.slidemenu label span[b-48us5ij6bc]{
  display: block;
  padding: 10px;
}

.slidemenu label .icon[b-48us5ij6bc]{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Animations*/
.slidemenu label[b-48us5ij6bc], .slider .bar[b-48us5ij6bc] {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label[b-48us5ij6bc]{
  opacity: 1;
}
/* /Pages/EducationRazor/Education.razor.rz.scp.css */
/* /Pages/HomeRazor/Home.razor.rz.scp.css */
.center[b-7ohrubvesq] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

  *[b-7ohrubvesq] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  
  .bawdy[b-7ohrubvesq] {
    height: 70vh;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container[b-7ohrubvesq] {
    width: 350px;
    height: 500px;
    perspective: 800px;
  }
  
  .container:hover > .card[b-7ohrubvesq] {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card[b-7ohrubvesq] {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
  }
  
  .front[b-7ohrubvesq],
  .back[b-7ohrubvesq] {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front[b-7ohrubvesq] {
    background-image: url("images/PersonalPhoto-min.jpeg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .back[b-7ohrubvesq] {
    /* background-color: #3a3a3a; */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
